Value VLANID (\d+)
Value TYPE (\S+\s\S+)
Value STATUS (\S+)
Value NAME (\S+)
Value IPADDR (\d+\.\d+\.\d+\.\d+|$$)

Start
  ^VLAN ID:\s+${VLANID}\s+Type:\s+${TYPE}\s+Status:\s+${STATUS}
  ^\s\sRouter Interface Name:\s+${NAME}
  ^\s\sIP Address:\s+${IPADDR} -> Record
